{
  "presets": ["next/babel"],
  "plugins": [
    "styled-components",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@assets": "./public/assets/",
        "@components": "./src/components/"
      }
    }]
  ]
}